* {
    box-sizing: border-box; 
    width: 80%;
    font-size: 0;
    border: white 2px solid;
    display: inline-block;
    margin: auto;
}
    .box-1 {
        background-color: #F5C6D6;
        height: 150px;
        width: 100%;
        
    }
    .box-2 {
        background-color:#EE2E84;
        height: 150px;
        width: 25%;
        display: inline-block;
    }
    .box-3 {
        background-color: #85CFD8;
        height: 150px;
        width: 50%;
        display: inline-block;
    }
    .box-4 {
        background-color: #8DC63F;
        height: 150px;
        width: 70% ; 
        
    }
    .box-5 {
        background-color: #E76E34;
        height: 150px;
        width: 30%;
        
    }       